/*
    Inter
*/

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Light.woff2') format('woff2'),
        url('../../../public/fonts/Inter-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Regular.woff2') format('woff2'),
        url('../../../public/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Medium.woff2') format('woff2'),
        url('../../../public/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../../../public/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*
    Roboto
*/

@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../../public/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*
    SF-Pro-Display
*/

@font-face {
    font-family: 'SF-PRO-Display';
    src: url('../../../public/fonts/SF-PRO-Display-Light.woff2') format('woff2'),
        url('../../../public/fonts/SF-PRO-Display-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-PRO-Display';
    src: url('../../../public/fonts/SF-PRO-Display-Regular.woff2') format('woff2'),
        url('../../../public/fonts/SF-PRO-Display-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-PRO-Display';
    src: url('../../../public/fonts/SF-PRO-Display-Bold.woff2') format('woff2'),
        url('../../../public/fonts/SF-PRO-Display-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*
Furore-Regular
*/

@font-face {
    font-family: 'Furore';
    src: url('../../../public/fonts/Furore-Regular.woff2') format('woff2'),
        url('../../../public/fonts/Furore-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}